name: Build APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Build with Buildozer Action
      uses: ArtemSBulgakov/buildozer-action@v1
      with:
        buildozer_version: stable
        args: android debug
        workdir: .
        
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: generated-apk
        path: bin/*.apk
        retention-days: 7
